@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

@font-face {
  font-family: "Snell Roundhand";
  src: url("./assets/fonts/SnellRoundhand.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  cursor: url("../src/assets/Cursor.svg") 2 2, auto;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #500e14;
  margin: 2rem 0; /* espacio arriba y abajo */
}

.text-degular-black {
  font-family: "degular", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.text-degular-medium {
  font-family: "degular", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.text-degular-bold {
  font-family: "degular", sans-serif;
  font-weight: 600;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-y: scroll;
}

#banner-container {
  background: linear-gradient(
    135deg,
    rgba(90, 42, 152, 1) 43.8%,
    rgba(23, 72, 159, 1) 100%
  );
}

.line {
  width: 2px;
  height: 80px;
  background-color: white;
  margin: 0 20px;
}

.grey-line {
  width: 1px;
  height: 80px;
  background-color: #242424;
  margin: 0 20px;
}

p {
  font-size: 16px;
}

ul {
  font-size: 20px;
}

@media (max-width: 1100px) {
  .line,
  .grey-line {
    height: 60px;
  }
}

/* Para pantallas pequeñas (Tailwind usa sm a partir de 640px) */
@media (max-width: 640px) {
  .line,
  .grey-line {
    height: 50px; /* Ajusta la altura según sea necesario */
  }
}

/* ============================
   Override Autofill Styles
   ============================ */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  /* cubre el fondo amarillo/blanco del navegador */
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;

  /* fondo transparente real */
  background-color: transparent !important;
  background-image: none !important;

  /* solo línea inferior */
  border: 0 !important;
  border-bottom: 2px solid rgba(80, 14, 20, 0.3) !important;

  /* color de texto y cursor */
  -webkit-text-fill-color: #500e14 !important;
  caret-color: #500e14 !important;

  /* evita parpadeos de color */
  transition: background-color 5000s ease-in-out 0s;
}
